<!DOCTYPE html>
<html>
<head>
    <title>Detail Saham</title>
</head>
<body>

<h2>📊 Detail Saham: {{ kode }}</h2>
<p>
<a href="/">⬅️ Kembali</a>
</p>
<h3>Data Terakhir</h3>

<table border="1">
    <tr>
        <th>Tanggal</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
        <th>Volume</th>
    </tr>

    {% for i in range(tanggal|length) %}
    <tr>
        <td>{{ tanggal[i] }}</td>
        <td>{{ "{:,}".format(open[i]) or 0 }}</td>
        <td>{{ "{:,}".format(high[i]) or 0 }}</td>
        <td>{{ "{:,}".format(low[i]) or 0 }}</td>
        <td>{{ "{:,}".format(close[i]) or 0 }}</td>
        <td>{{ "{:,}".format(volume[i]) or 0 }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>