<!DOCTYPE html>
<html>
<head>
    <title>Portfolio Saham</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<h2>📊 Portfolio Saham</h2>

<form method="POST" action="/tambah">
    <input name="kode" placeholder="Kode Saham" required autofocus>
    <input name="harga_beli" placeholder="Harga Beli" required>
    <input name="lot" placeholder="Lot" required>
	<input name="harga_sekarang" placeholder="Harga Sekarang">
    
    <button type="submit">Tambah</button>
</form>

<br>
<h3>📊 Ringkasan Portfolio</h3>

<ul>
    <li><h3>Total Modal: Rp {{ "{:,}".format(total_modal  or 0) }} </h3></li>
    <li><h3>Total Nilai Sekarang: Rp {{ "{:,}".format(total_nilai) }} </h3></li>
    <li><h3>
        Total Profit / Loss:
        {% if total_pl >= 0 %}
            <span style="color:green;">Rp {{ "{:,}".format(total_pl or 0 ) }}</span>
        {% else %}
            <span style="color:red;">Rp {{ "{:,}".format(total_pl or 0) }}</span>
        {% endif %} </h3>
    </li>
</ul>

<table border="1" cellpadding="5">
    <tr>
		<th>Aksi</th>
		<th>Updated</th>
        <th>KODE</th>
        <th>Current Price</th>
        <th>Avg Price</th>
        <th>Bal Lot</th>
        <th>Invested</th>
        <th>P&L</th>
        <th>%</th>
		<th>📜 Histori</a></th>
        <th>Analisa</th>
    </tr>

    {% for s in saham %}
    <tr>
		<td>
			<a href="/edit/{{ s.id }}">✏️ Edit</a> |
			<a href="/hapus/{{ s.id }}" onclick="return confirm('Yakin hapus?')">🗑️ Hapus</a>
		</td>
		<td>{{ s.updated_at }}</td>
        <td>
            <strong><a href="/saham/{{ s.kode }}">
                {{ s.kode }}
            </a></strong>
        </td>
        <td>{{ "{:,}".format(s.current or 0) }}</td>
        <td>{{ "{:,}".format(s.avg or 0) }}</td>
        <td>{{ "{:,}".format(s.bal_lot or 0) }}</td>
        <td>Rp {{ "{:,}".format(s.invested or 0) }}</td>

        <!-- P&L -->
        <td>
            {% if s.pl >= 0 %}
                <span style="color:green;">
                    Rp {{ "{:,}".format(s.pl or 0) }}
                </span>
            {% else %}
                <span style="color:red;">
                    Rp {{ "{:,}".format(s.pl or 0) }}
                </span>
            {% endif %}
        </td>

        <!-- % -->
        <td>
            {% if s.persen >= 0 %}
                <span style="color:green;">
                    {{ s.persen or 0 }}%
                </span>
            {% else %}
                <span style="color:red;">
                    {{ s.persen or 0 }}%
                </span>
            {% endif %}
        </td>
		
		<!-- % -->
		<td><a href="/log">📜 <strong>{{ s.kode }}</strong> </a></td>

        <!-- % -->
        <td>
            {% if s.analisa == "BUY" %}
                <span style="color:blue;">{{ s.analisa }}</span>
            {% elif s.analisa == "SELL" %}
                <span style="color:green;">{{ s.analisa }}</span>
            {% else %}
                <span style="color:orange;">{{ s.analisa }}</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<h3>📊 Total Portfolio</h3>
<p><a href="/log">📜 Lihat Histori</a></p>
<canvas id="chartTotal"></canvas>

<h3>📊 Grafik Modal (Invested)</h3>
<canvas id="chartModal"></canvas>

<h3>📈 Grafik Harga Saham</h3>
<canvas id="chartHarga"></canvas>

<!-- # Grafik Total Portfolio -->
<script>
const ctxTotal = document.getElementById('chartTotal').getContext('2d');

new Chart(ctxTotal, {
    type: 'bar',
    data: {
        labels: ['Modal', 'Nilai Sekarang'],
        datasets: [{
            label: 'Total Portfolio',
            data: [
                {{ total_modal or 0 }},
                {{ total_nilai or 0 }}
            ]
        }]
    },
    options: {
        scales: {
            y: {
                ticks: {
                    callback: function(value) {
                        return 'Rp ' + value.toLocaleString();
                    }
                }
            }
        }
    }
});
</script>

<!-- # Grafik Modal (Invested) -->
<script>
    const labelsModal = [
        {% for s in saham %}
            "{{ s.kode }}",
        {% endfor %}
    ];

    const dataModal = [
        {% for s in saham %}
            {{ s.invested or 0 }},
        {% endfor %}
    ];

    const ctxModal = document.getElementById('chartModal').getContext('2d');

    new Chart(ctxModal, {
        type: 'bar',
        data: {
            labels: labelsModal,
            datasets: [{
                label: 'Total Modal (Rp)',
                data: dataModal
            }]
        },
        options: {
            scales: {
                y: {
                    ticks: {
                        callback: function(value) {
                            return 'Rp ' + value.toLocaleString();
                        }
                    }
                }
            }
        }
    });
</script>

<!-- # Grafik Harga Saham -->
<script>
    const labels = [
        {% for s in saham %}
            "{{ s.kode }}",
        {% endfor %}
    ];

    const dataHarga = [
        {% for s in saham %}
            {{ s.current or 0 }},
        {% endfor %}
    ];

const ctx = document.getElementById('chartHarga').getContext('2d');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Harga Sekarang',
                data: dataHarga
            }]
        }
    });
</script>

</body>
</html>
